@tailwind base;

@tailwind components;

.card {
  border-radius: 20px;
  box-shadow: 0 10px 80px rgba(14, 72, 119, 0.2);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
  -webkit-transition: box-shadow 0.15s ease-in-out,
    -webkit-transform 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-transform 0.15s ease-in-out;
}

@tailwind utilities;
